:focus {
    outline: none;
}
html, body {
    padding: 0;
    margin: 0;
}
.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.shared-button {
    background: orange;
    border: solid 2px white;
    border-radius: 15px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.shared-button:active {
    background: white;
    border: solid 2px orange;
}
.shared-input {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid orange;
    width: 50vw;
    max-width: 250px;
}
.shared-link {
    background: transparent;
    border: none;
    color: gray;
    font-weight: bolder;
}
.shared-navbar-container {
    width: 100vw;
    height: 50px;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
}
.shared-navbar-container button {
    position: fixed;
    left: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    background: none;
    border: none;
    color: darkgoldenrod;
}
.shared-navbar-container label {
    font-size: 25px;
    line-height: 50px;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: bold;
}
.shared-screen {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    background: wheat;
    padding: 20px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.shared-screen .navbar-separator {
    height: 50px;
}
.card {
    border: solid 2px black;
    margin: 5px;
}