<ts-screen>
    <div>
        <ts-input hint="Username" ng-model="username"></ts-input>
    </div>
    <div style="margin-top: 25px">
        <ts-button text="Submit"></ts-button>
    </div>
</ts-screen>