<ts-screen>
    <div>
        <ts-input hint="Username" ng-model="form.username"></ts-input>
    </div>
    <div>
        <ts-input hint="Password" ng-model="form.password" type="password"></ts-input>
    </div>
    <div class="loader" ng-if="loading"></div>
    <div style="margin-top: 50px" ng-if="!loading">
        <ts-button text="Login" on-click="handleLogin()"></ts-button>
    </div>
    <div style="margin-top: 25px" ng-if="!loading">
        <ts-link text="Forget Password?" on-click="handleForgetPassword()"></ts-link>
    </div>
    <screen-home ng-controller="home"></screen-home>
</ts-screen>