<ts-screen>
    <h1>Hello World</h1>
    <div ng-repeat="record in records" class="card" ng-click="openDetail(record)">
        {{ record.ID }}
        {{ record.OrderNumber }}
        {{ record.Amount }}
    </div>
    <screen-detail ng-controller="detail"></screen-detail>
</ts-screen>