<div class="shared-screen" ng-if="screenVisible">
    <ts-navbar hide-navbar="hideNavbar" on-back="onBack()" title="title"></ts-navbar>
    <div class="navbar-separator" ng-if="!hideNavbar"></div>
    <ng-transclude></ng-transclude>
</div>