<div class="screen" ng-init="init()">
    <div class="navbar">
        <img src="images/left.png" ng-click="handleBack()" />
        <label>Home</label>
    </div>
    <button class="fab" ng-click="handleCreate()">+</button>
</div>