html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.screen {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    background: orange;
    display: flex;
}
.navbar img {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.navbar label {
    font-size: 1.5em;
    font-family: arial;
    padding-top: 8px;
    flex-grow: 1;
}
.content {
    padding-top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
    overflow-x: hidden;
}
.fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    font-size: 2.5em;
    background: orange;
    color: darkslategrey;
}